# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.IWA.ITDevRisk.Challenge.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Projects\Jobs\GFT\IWA.ITDevRisk.Challenge\IWA.ITDevRisk.Challenge\.idea\.idea.IWA.ITDevRisk.Challenge\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
